:root {
    --mainRed: #e1897b;
    --mainWhite: #f3f3f3;
    --mainBrown: #a15445;
    --darkBrown: #592f26;
}
body {
    font-family: 'Old Standard TT', serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainBrown) !important;

}
.special-text {
    font-family: 'Satisfy', cursive;
    color: var(--mainBrown);
}
.logo-store{
    width:auto;
    height:6rem;
}
.navbar{
    background: var(--mainRed);
    color: var(--mainWhite);
}
.nav-link {
    color: var(--mainWhite);
    font-size: 1.3rem;
    text-transform: capitalize;
}
.nav-link:hover{
    color:var(--darkBrown);
}
.store-button {
    background: transparent;
    color: var(--mainWhite);
    border: 0.1rem solid var(--mainWhite);
    padding: 0.5rem;
    text-transform: uppercase;
}
.store-button:hover{
    background:var(--mainWhite);
    color: var(--mainRed);
}
.size-select{
    border: 0.1rem solid red;
}
.detail-button {
    background: transparent;
    color: var(--mainRed);
    border: 0.1rem solid var(--mainRed);
    padding: 0.5rem;
    text-transform: uppercase;
    margin: 0.2rem 0.5rem 0.2rem 0;
}
.detail-button:hover{
    background:var(--mainRed);
    color: var(--mainWhite);
}
.slideshow{
    border:0.01rem solid var(--mainRed);
    width:12%;
    height:auto;
    cursor: pointer;
}
.cart-img{
    width: 5rem;
    height:auto;
}
.btn-count{
    background:transparent;
    text-transform:capitalize;
    font-size:0.8rem !important;
    border-radius:0 !important;
    padding: 0.3rem;
}
.btn-count:hover{
    color:var(--mainRed) !important;
}
.cart-icon{
    cursor:pointer;
    font-size:1rem;
}
.cart-icon:hover{
    color: var(--mainRed);
}
.banner-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.15);
    color: var(--mainWhite);
    border-color: var(--mainWhite);
    padding: 0.9rem;
}
.see-more-text{
    color: var(--mainBrown);
    cursor:pointer;
}
.see-more-text:hover{
    color: var(--mainBrown);
}
.notification{
    font-family: 'Old Standard TT', serif !important;
    text-align: center;
}
.errorMessage{
    font-size:0.8rem;
    color:var(--mainRed);
}
.height-container{
    min-height: 64.9vh;
}





