:root {
    --mainRed: #e1897b;
    --mainWhite:#f3f3f3;
    --mainBrown: #bf7667;
    --darkRed: #c46c64;
}
body {
    font-family: 'Old Standard TT', serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainBrown) !important;
}
.special-text {
    font-family: 'Satisfy', cursive;
    color: var(--mainRed);
}
